.find-us {
  background-color: #ddd;
  padding: 20px;
}
.find-us .block-heading h2 {
  margin-top: 0;
  text-align: center;
}

.social-official {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.social-official li {
  display: inline-block;
}
.social-official li a {
  display: block;
  height: 32px;
  width: 32px;
  position: relative;
}
.social-official li .facebook {
  background-color: #3B5998;
}
.social-official li .twitter {
  background-color: #2AA9E0;
}
.social-official li .google-plus {
  background-color: #DC4A38;
}
.social-official li .pinterest {
  background-color: #CB2027;
}
.social-official li .facebook::before {
  content: '\f231';
  font-family: "Ionicons";
  position: absolute;
  left: 38%;
  top: -4%;
  font-size: 1.8em;
  color: #fff;
}
.social-official li .twitter::before {
  content: '\f243';
  font-family: "Ionicons";
  position: absolute;
  left: 16%;
  top: -4%;
  font-size: 1.8em;
  color: #fff;
}
.social-official li .google-plus::before {
  content: '\f34e';
  font-family: "Ionicons";
  position: absolute;
  left: 30%;
  top: -4%;
  font-size: 1.8em;
  color: #fff;
}
.social-official li .pinterest::before {
  content: '\f2b0';
  font-family: "Ionicons";
  position: absolute;
  left: 17%;
  top: -4%;
  font-size: 1.8em;
  color: #fff;
}
